@import '../../assets/scss-variables/index.scss';


#subtitle {
  color: $color-paragraph;
}

.types-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .game-type-option {
    color: $color-button-text;

    .game-type-radio {
      background: $color-button;
    }
  }
}