@import '../../assets/scss-variables/index';

.menu-screen-container {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;

  #title {
    align-self: center;
    color: $color-headline;
    font-size: 33px;
  }

  .options-container {
    color: $color-button-text;

    li#option {
      list-style-type: '\00BB';
      color: $color-button;
      padding-left: 5px;

      .option-link {
        color: $color-button-text;
        text-decoration: none;
      }
    }
  }
}