@import '../../assets/scss-variables/index.scss';

.house {
  width: $house-size;
  height: $house-size;
  background-color: $color-secondary;
  border-style: inherit;
  box-shadow: 0px 3px 22px #90CAF9;
  outline: none;
  display: flex;
  justify-content: center;
}